.teamGrid > img {
  height:4.5em;
  height:5em;
  justify-self: center;
  alignment="center";
}

.teamGrid {
  display:grid;
  align-items:center;
  grid-template-columns: 6em 12em 10em;
  grid-gap:1em;
}

#hito-logo {
  background-image:url("../hito.svg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  height:20rem;
  width:100%;
}
