.teamGrid > img {
  height:4.5em;
  height:5em;
  justify-self: center;
  alignment="center";
}

.teamGrid {
  display:grid;
  align-items:center;
  grid-template-columns: 6em 12em 10em;
  grid-gap:1em;
}

#hito-logo {
  background-image:url("../hito.svg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  height:20rem;
  width:100%;
}

.flex-item {
  width: 15rem;
  height: 15rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.flex-item img {
  display:inline;
  max-width:100%;
  max-height:80%;
  margin:auto;
}

.flexy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
